<!DOCTYPE html>
<html>
<head>
    <title>Blogs</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <h1>All Blogs</h1>
    <ul>
        <% blogs.forEach(blog => { %>
            <li><%= blog.title %></li>
        <% }) %>
    </ul>
</body>
</html>
